<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body>

    <div>
        <h1>LOGIN</h1>
        <form method="post" action="/login">  
            <h1>Email</h2>
            <br><br>
            <input type="email" name = "email" />
            <br><br>
            <h2>password</h2>
            <br><br>
            <input type="password" name = "password" />
            <br>
            <p class="error"> <%= locals.message %> </p>
            <button type="submit">Login</button>
        </form>
    </div>

</body>
</html>